@import "utilities";
@import "flickity";

body {
  font-family: $main-font;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

#currency-canvas {
  width: 100%;
}

.is-two-thirds {
  height: 30rem;
}

.field.is-grouped.is-grouped-multiline {
  height: 100px;
}
